<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thirteen.smp.mapper.UserMapper">

    <select id="selectByUsername" resultType="User">
        select *
        from t_user
        where username = #{username}
    </select>

    <select id="selectById" resultType="User">
        select *
        from t_user
        where user_id = #{userId}
    </select>

    <select id="selectAll" resultType="User">
        select *
        from t_user
    </select>

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="userId">
        insert into t_user
        values (null, #{username}, #{password}, #{profilePic}, #{nickname}, #{twitter}, #{facebook}, #{qq}, #{weibo},
                #{email}, #{userLang}, #{userLocation}, #{coverPic})
    </insert>

    <delete id="deleteUserById">
        delete
        from t_user
        where user_id = #{userId}
    </delete>

    <update id="updateUser">
        update t_user
        set username      = #{username},
            password      = #{password},
            nickname      = #{nickname},
            profile_pic   = #{profilePic},
            twitter       = #{twitter},
            facebook      = #{facebook},
            qq            = #{qq},
            weibo         = #{weibo},
            email         = #{email},
            user_lang     = #{userLang},
            user_location = #{userLocation},
            cover_pic     = #{coverPic}
        where user_id = #{userId}
    </update>
    <select id="selectUserStatus" resultType="Map">
        select *
        from t_user_status
        where user_id = #{userId}
    </select>
    <select id="getRegisterNum" resultType="Integer">
        select count(*)
        from t_user;
    </select>
    <select id="getOnlineNum" resultType="Integer">
        select count(*)
        from t_user_status
        where status=1
    </select>
    <insert id="insertUserStatus">
        insert into t_user_status
        values (null, #{param1}, #{param2})
    </insert>
    <update id="updateUserStatus">
        update t_user_status
        set status = #{param2}
        where user_id = #{param1}
    </update>
</mapper>